
:root {
  --primary-color:#9ae4e6;
  --van-notice-bar-background: #fff !important;


}

body {
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.diviser-line {
  background-color:rgb(235, 237, 237);
  width: 800px;
  height: 2px;
}
