
:root {
  --primary-color:#9ae4e6;
  --line-color:#faf8f9;
  --theme-linear-gradient:linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

body {
  font-size: 14px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
